{{! hash schema  }}
{{! {
    "project_name" : "the name of the project",
    "time" : "the name of the project",
    "date" : "the name of the project",
    "total_parts" : "number",
    "total_cost" : "number",
    "parts" : [
        {
            "Reference" : "part_reference" ,
            "Value" : "the value of the part" ,
            "Quantity" : "number" ,
            "part_number" : "the part number" ,
            "cost" : "number"
        }
    ]
} }}
# 📄 BOM for {{project_name}} 📄

report created at {{time}} on {{date}}.

{{project_name}} has a total of {{total_parts}} parts with a cost of ${{total_cost}}.

| Reference | Value | Quantity | part number | cost |
| --------- | ----- | -------- | ----------- | ---- |
{{#parts}}
| {{Reference}} | {{Value}} | {{Quantity}} | {{part_number}} | ${{cost}} |
{{/parts}}
|  | total | {{total_parts}} | total | ${{total_cost}} |
