{{! hash schema  }}
{{! {
    "date" : "the date of creation",
    "time" : "the time of creation",
    "total_warns" : "number",
    "total_errors" : "number",
    "has_violations" : "flag to say if the project has a violation",
    "violations" : {
        "number_of_errors" : "number",
        "number_of_warns" : "number",
        "warns" : [
            {
                "name" : "string",
                "content" : "string"
            }
        ],
        "errors" : [
            {
                "name" : "string",
                "content" : "string"
            }
        ]
    },
    "unconnected_items" : {
        "number_of_errors" : "number",
        "number_of_warns" : "number",
        "warns" : [
            {
                "name" : "string",
                "content" : "string"
            }
        ],
        "errors" : [
            {
                "name" : "string",
                "content" : "string"
            }
        ]
    },
    "schematic_parity" :{
        "number_of_errors" : "number",
        "number_of_warns" : "number",
        "warns" : [
            {
                "name" : "string",
                "content" : "string"
            }
        ],
        "errors" : [
            {
                "name" : "string",
                "content" : "string"
            }
        ]
    }
} }}

# 📟 {{project_name}} DRC report 📟

report created at {{time}} 🕧 on {{date}} 🗓️.

the design rule check found:
- {{total_errors}} errors in your design 😱
- {{total_warns}} warns in your design 🫨

{{#has_violations}}

number of errors and warns breakdown per sheet:
| error type                                | number of errors 🔴                   | number of warns 🟠                    |
| ----------------------------------------- | -------------------------------------- | ------------------------------------- | 
| [violations](#violations) ❌              | {{violations.number_of_errors}}        | {{violations.number_of_warns}}        | 
| [unconnected items](#unconnected-items) ⛓️‍💥| {{unconnected_items.number_of_errors}} | {{unconnected_items.number_of_warns}} | 
| [schematic parity](#schematic-parity) 🔗  | {{schematic_parity.number_of_errors}}  | {{schematic_parity.number_of_warns}}  |
| total                                     | {{total_errors}}                       | {{total_warns}}                       |

below is a more in-depth breakdown of the errors and warns per error type.
note you should only use this for quickly checking that the project
you uploaded has no error or warn. YOU SHOULD *NOT* use this to actually
run the drc in kicad so you can see where is erroring.


# violations

## errors : {{violations.number_of_errors}}
{{#violations.errors}}
### {{name}}
{{content}}
{{loction}}
{{/violations.errors}}

## warns : {{violations.number_of_warns}}
{{#violations.warns}}
### {{name}}
{{content}}
{{loction}}
{{/violations.warns}}

# unconnected items

## errors : {{unconnected_items.number_of_errors}}
{{#unconnected_items.errors}}
### {{name}}
{{content}}
{{loction}}
{{/unconnected_items.errors}}

## warns : {{unconnected_items.number_of_warns}}
{{#unconnected_items.warns}}
### {{name}}
{{content}}
{{loction}}
{{/unconnected_items.warns}}

# schematic parity

## errors : {{schematic_parity.number_of_errors}}
{{#schematic_parity.errors}}
### {{name}}
{{content}}
{{loction}}
{{/schematic_parity.errors}}

## warns : {{schematic_parity.number_of_warns}}
{{#schematic_parity.warns}}
### {{name}}
{{content}}
{{loction}}
{{/schematic_parity.warns}}

{{/has_violations}}
{{^has_violations}}
the design had no errors or warns, good job. ✅✅
{{/has_violations}}
